
.desktop-paragraph {
    max-width: 680;
    width: 92%;
    margin: 24px auto;
    padding: 24px 22px;
    border-radius: 18px;
}
.list {
    color: deeppink;
}

.desktop-version {display: block}
.mobile-version {display: none}
.mobile-nav {
    display: none;
}
@media (max-width: 768px) {
    .mobile-nav {
        display: block;
    }

    .sidebar {
        display: none;
    }
}
