



.content-block {
    text-align: center;
    background-color: bisque;
    padding: 16px 128px;
    border-radius: 12px;
    display: inline-block;
    font-size: 16px;
}


body {
    text-align: center;
    background-color:rgb(229,219,240) ;

}
h1 {



}
h2 {
    text-shadow: 2px 2px 5px fuchsia;
    background-color: bisque;

}
h3 {
    text-shadow: 2px 2px 5px fuchsia;
    background-color: bisque;
}

.headers {
    text-shadow: 2px 2px 5px fuchsia;
    background-color: bisque;
    font-size: 24px;

}

.div_one {
    text-align: center;
    background-color: bisque;

}