
.contact-page-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;

}


.content-block {
    text-align: center;
    color: black;

    padding: 8px 64px;
    border-radius: 12px;
    display: inline-block;
    font-size: 20px;
}


body {
    text-align: center;
    background-color:rgb(229,219,240) ;

}
.desktop-version {display: block}
.mobile-version {display: none}

.desktop-headers {

    text-align: center;

    text-box: auto;
    display: inline-grid;


    font-size: 24px;
    text-decoration-style: solid;
    text-decoration-color: black;
    border-radius: 15px;
    padding: 10px;

    background-color: rgb(237,187,220);


}
.mobile-nav {
    display: none;
}
@media (max-width: 768px) {
    .mobile-nav {
        display: block;
    }
    .sidebar {
        display: none;
    }
    .desktop-version {display: none}
    .mobile-version {display: block}
    .mobile-headers {
        text-align: center;
        text-box: auto;
        display: inline-grid;
        font-size: 24px;
        text-decoration-style: solid;
        text-decoration-color: black;
        border-radius: 15px;
        background-color: green;

    }
    .mobile-content .content-block {background-color: palegreen}

}

.div_one {
    text-align: center;

    margin-left: 200px;
    margin-right: 100px;

}