/* This is the navbar */
.sidebar ul {
list-style-type: none;
margin: 0;
padding: 0;
width: 120px;
text-align: center;
height: 100vh;
left: 0;
right: 0;
overflow: hidden;
position: fixed;
font-family: "Lato", sans-serif;




background-color:  rgb(228,219,238);
}
.page-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.body-row {
    flex: 1;
    display: flex;
    align-items: flex-start;
}
.mobile-nav-flex { display: none;}
.desktop-nav-flex { display: block;}
.nav-item {
    border: black solid 1px;
    border-radius: 25px;
    background-color: bisque;
    box-shadow: darkgray 5px 5px 5px;


}
.content-flex-main {
    flex: 1;
    display: flex;
    gap: 24px;
    padding: 24px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.content-flex-one {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.content-flex-two {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.img-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* This is the mobile nav bar */

.div_one {
        font-family: "Lato", sans-serif;
    }


@media (max-width: 768px) {
    .mobile-nav-flex { display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 12px auto;
    }
    .desktop-nav-flex { display: none;}

    .summary {
        font-family: "Lato", sans-serif;
        border: black solid 0.5px;
        box-shadow: darkgray 5.5px 5.5px 5.5px;
    }
    .mobile-div-1 {
        font-family: "Lato", sans-serif;
        background-color: rgb(228,219,238);

    }
    .mobile-nav-item {
        border: ButtonBorder 1px solid;
        border-radius: 25px;
        background-color: bisque;

    }
    .sidebar {
        display: none;
    }
    .main-content {
        margin-left: 0;
    }

    .mobile-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: center;
        margin: 12px auto;
        border-radius: 10px;
    }

    .mobile-nav summary {
        display: flex;
        justify-content: center;
        background: bisque;
        color: darkmagenta;
        padding: 12px 16px;
        border-radius: 10px;
        cursor: pointer;
        font-size: 18px;
        appearance: button;
    }

    .mobile-menu ul {
        list-style-type: none;

        padding: 0;


        border-radius: 10px;
        overflow: hidden;
    }

    .mobile-menu a {
        display: block;

        text-align: center;
        border-radius: 10px;
    }
}

.title {
    font-family: "Lato", sans-serif;

    font-kerning: auto;

    text-align: center;
    text-box: auto;
    text-decoration-style: solid;
    text-decoration-color: black;
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(237,187,220);
    display: inline-grid;
    box-shadow: darkgray 5.5px 5.5px 5.5px;

}
.active {
    background-color: bisque;
    color: darkmagenta;
}
li a {

    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}

li a:hover {
    background-color: #555555;
    color: white;
    block-size: inherit;
}




body {text-align: center;
        background-color:rgb(229,219,240) ;
        color: black;
        }
p {
    color: deeppink;
    margin-left: 25px;
    margin-right: 25px;

}
.paragraphs {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    padding: 24px;
}
.logo {
    max-width: 90vw;
    width: 320px;
    height: auto;
    margin: 8px;
    border: 2.5px solid black;

}
.button {
    border-radius: 25px;
    color: white;
    border: black solid 2px;
    background-color: darkmagenta;

    margin-bottom: 25px;


}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.container-item {
    padding: 10px;
}
.container-item-img {
 font-family: "Lato", sans-serif;

    font-kerning: auto;

    text-align: center;
    text-box: auto;
    text-decoration-style: solid;
    text-decoration-color: black;
    border-radius: 15px;
    padding: 20px;
    background-color: bisque;
    display: inline-grid;
    box-shadow: darkgray 5.5px 5.5px 5.5px;





}




.gbimage {
    border: black solid 2px;


}
.img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.button2 {

    border-radius: 25px;
    color: white;
    border: black solid 1px;
    background-color: darkmagenta;
    box-shadow: 2px 2px 5px darkmagenta;
    margin-bottom: 25px;
}
.paragraph {
    text-align: center;

    padding-left: 115px;
    padding-right: 115px;
    color: black;

}
.desktop-footer {display: block}
.mobile-footer {display: none}

.desktop-footer {
    font-family: "Lato", sans-serif;
    text-align: center;
    background-color: bisque;
    height: 170px;
    margin-left: 200px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 15px;
    border: black solid 1px;
}

@media (max-width: 768px) {
    .desktop-footer {display: none}
    .mobile-footer {display: block}
    .mobile-foot {
        font-family: "Lato", sans-serif;
        text-align: center;
        text-box: auto;
        display: inline-grid;
        font-size: 12px;
        border-radius: 15px;
        background-color: bisque;
        border: black solid 1.75px;
        padding: 10px;

    }


}



.toe {
    padding-top: 50px;
}
.password {
    color: black;
    text-decoration-style: wavy;
}