/* This is the navbar */
.sidebar ul {
list-style-type: none;
margin: 0;
padding: 0;
width: 120px;
text-align: center;
height: 100vh;
left: 0;
right: 0;
overflow: hidden;
position: fixed;
    border: black solid 3px;



background-color: bisque;
}
.nav-item {
    border: black solid 1px;
}
/* This is the mobile nav bar */
.mobile-nav { display: none; }

@media (max-width: 768px) {
    .mobile-div-1 {
        border: black solid 2px;
        border-radius: 25px;

    }
    .mobile-nav-item {
        border: ButtonBorder 1px solid;
        border-radius: 25px;
    }
    .sidebar {
        display: none;
    }
    .main-content {
        margin-left: 0;
    }

    .mobile-nav {
        display: block;
        margin: 12px auto;
    }

    .mobile-nav summary {
        background: bisque;
        color: darkmagenta;
        padding: 12px 16px;
        border-radius: 10px;
        cursor: pointer;
        font-size: 18px;
        appearance: button;
    }

    .mobile-menu ul {
        list-style-type: none;
        margin: 10px 0 0 0;
        padding: 0;
        background: bisque;
        border-radius: 10px;
        overflow: hidden;
    } 65

    .mobile-menu a {
        display: block;
        padding: 12px 16px;
        text-align: center;
    }
}

.title {
    text-align: center;
    text-box: auto;
    text-decoration-style: solid;
    text-decoration-color: black;
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(237,187,220);
    display: inline-grid;
}
.active {
    background-color: bisque;
    color: darkmagenta;
}
li a {

    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}

li a:hover {
    background-color: #555555;
    color: white;
    block-size: inherit;
}




body {text-align: center;
        background-color:rgb(229,219,240) ;
        color: black;
        }
p {
    color: deeppink;
    margin-left: 25px;
    margin-right: 25px;

}
.paragraphs {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    padding: 24px;
}
.logo {
    max-width: 90vw;
    width: 320px;
    height: auto;
    margin: 8px;

}
.button {
    border-radius: 25px;
    color: white;
    border: black solid 1px;
    background-color: darkmagenta;
    box-shadow: 2px 2px 5px darkmagenta;
    margin-bottom: 25px;


}
.gbimage {

}
.button2 {

    border-radius: 25px;
    color: white;
    border: black solid 1px;
    background-color: darkmagenta;
    box-shadow: 2px 2px 5px darkmagenta;
    margin-bottom: 25px;
}
.paragraph {
    text-align: center;

    padding-left: 115px;
    padding-right: 115px;
    color: black;

}
.desktop-footer {display: block}
.mobile-footer {display: none}

.desktop-footer {
    text-align: center;
    background-color: bisque;
    height: 170px;
    margin-left: 200px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 15px;
}

@media (max-width: 768px) {
    .desktop-footer {display: none}
    .mobile-footer {display: block}
    .mobile-foot {
        text-align: center;
        text-box: auto;
        display: inline-grid;
        font-size: 12px;
        border-radius: 15px;
        background-color: bisque;

    }


}



.toe {
    padding-top: 50px;
}
.password {
    color: black;
    text-decoration-style: wavy;
}