<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" charset="UTF-8">
    <title>About Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
</head>
<body>
 <!--mobile nav-->
    <details class="mobile-nav">
        <summary class="div_one">Navigation</summary>

    <nav class="mobile-menu">
        <div class="mobile-div-1">
    <ul>
      <li class="mobile-nav-item"><a  href="{{ url_for('home') }}">Home</a></li>
      <li class="mobile-nav-item"><a  href="{{ url_for('gallery') }}">Photo Gallery (Coming Soon!)</a></li>
      <li class="mobile-nav-item"><a href="{{ url_for('contact') }}">Contact</a></li>
      <li class="mobile-nav-item"><a  target="_blank" rel="noopener noreferrer" href=https://ebay.us/m/TC9rpf>Find us on eBay!</a></li>
      <li class="mobile-nav-item"><a  href="{{ url_for('eclecticAI') }}">EclecticAI</a></li>
        <li class="mobile-nav-item"><a href="{{ url_for('about') }}">About Us!</a></li>
        <li class="mobile-nav-item"><a href="{{ url_for('quote') }}">Get a Free Repair Quote!</a></li>
    </ul>
        </div>
    </nav>
    </details>

    <!--desktop-->
    <nav class="sidebar">
        <div>

    <ul class="active">
      <li class="nav-item"><a  href="{{ url_for('home') }}">Home</a></li>
      <li class="nav-item"><a  href="{{ url_for('gallery') }}">Photo Gallery (Coming Soon!)</a></li>
      <li class="nav-item"><a href="{{ url_for('contact') }}">Contact</a></li>
      <li class="nav-item"><a  target="_blank" rel="noopener noreferrer" href=https://ebay.us/m/TC9rpf>Find us on eBay!</a></li>
      <li class="nav-item"><a  href="{{ url_for('eclecticAI') }}">EclecticAI</a></li>
        <li class="nav-item"><a href="{{ url_for('about') }}">About Us!</a></li>
        <li class="nav-item"><a href="{{ url_for('quote') }}">Get a Free Repair Quote!</a></li>
    </ul>
        </div>

    </nav>
<!--Mobile-->
 <div class="desktop-paragraph">
<h1 class="title">Welcome to our about page!</h1>
<div>
    <h2 class="title">Who we are:</h2>
    <div class="div_one">
    <p>
        Eclectic Electronics is an independently owned and operated small business in
        Charleston, Illinois, focusing on Technology Repair and Restoration,
        Web/Software Development, and Cyber Security.</p>

        <p>Our work spans from repairing and restoring both vintage and modern consumer tech,
        developing Software and Websites, and Cybersecurity solutions. This business was born
        from a desire to fight back against anti consumer, anti environment tech practices
        where consumers are encouraged to trash perfectly repairable technology and just simply
        buy a new machine. This is unsustainable both economically and ecologically, and every
        repaired or restored device that leaves our shop with a renewed lifespan is a personal
            win in our book.</p>

        <p>Our work is backed by a standing CompTia A+ certification and countless hours of hands
        on experimenting and repairing. I stayed up all night burning my fingers on my soldering
            iron night after night so you don't have to. :)</p>
    </div>



    <h3 class="title">What all we do:</h3>
    <p><strong>-Repairs and Restoration-</strong></p>
    <p class="mobile-para">We are taking on basically any manner of repair on electronic devices. This spans
    from broken screens to board level repairs to hardware, such as replacing charger ports.
    </p>
    <p class="mobile-para">We also offer restoration on vintage/aging electronics. We are constantly buying aged devices
    in need of restoration, and are taking on live restoration comissions. Under the <a href="{{ url_for('gallery') }}">photo gallery</a>
    page we will be listing photos of our restoration work. You can often find the restored devices for sale
    on our <a href=https://ebay.us/m/TC9rpf target="_blank" rel="noopener noreferrer">ebay page</a>.</p>
</div></div>
<!--Desktop--
 <div class="desktop-paragraph">
<h1 class="title">Welcome to our about page!</h1>
<div>
    <h2 class="title">Who we are:</h2>
    <p class="desktop-para">
        Eclectic Electronics is an independently owned and operated small business in
        Charleston, Illinois, focusing on Technology Repair and Restoration,
        Web/Software Development, and Cyber Security.</p>

        <p class="paragraph">Our work spans from repairing and restoring both vintage and modern consumer tech,
        developing Software and Websites, and Cybersecurity solutions. This business was born
        from a desire to fight back against anti consumer, anti environment tech practices
        where consumers are encouraged to trash perfectly repairable technology and just simply
        buy a new machine. This is unsustainable both economically and ecologically, and every
        repaired or restored device that leaves our shop with a renewed lifespan is a personal
            win in our book.</p>

        <p class="desktop-para"">Our work is backed by a standing CompTia A+ certification and countless hours of hands
        on experimenting and repairing. I stayed up all night burning my fingers on my soldering
            iron night after night so you don't have to. :)</p>




    <h3 class="title">What all we do:</h3>
    <p><strong>-Repairs and Restoration-</strong></p>
    <p class="paragraph">We are taking on basically any manner of repair on electronic devices. This spans
    from broken screens to board level repairs to hardware, such as replacing charger ports.
    </p>
    <p class="paragraph">We also offer restoration on vintage/aging electronics. We are constantly buying aged devices
    in need of restoration, and are taking on live restoration comissions. Under the <a href="{{ url_for('gallery') }}">photo gallery</a>
    page we will be listing photos of our restoration work. You can often find the restored devices for sale
    on our <a href=https://ebay.us/m/TC9rpf target="_blank" rel="noopener noreferrer">ebay page</a>.</p>
</div></div>-->





</body>
</html>