<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" charset="UTF-8">
    <title>Contact Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='contact.css') }}">
</head>
<body>
 <!--mobile nav-->
    <details class="mobile-nav">
        <summary>Navigation</summary>

    <nav class="mobile-menu">
    <ul>
      <li><a  href="{{ url_for('home') }}">Home</a></li>
      <li><a  href="{{ url_for('gallery') }}">Photo Gallery (Coming Soon!)</a></li>
      <li><a href="{{ url_for('contact') }}">Contact</a></li>
      <li><a  target="_blank" rel="noopener noreferrer" href=https://ebay.us/m/TC9rpf>Find us on eBay!</a></li>
      <li><a  href="{{ url_for('eclecticAI') }}">EclecticAI</a></li>
        <li><a href="{{ url_for('about') }}">About Us!</a></li>
        <li><a href="{{ url_for('quote') }}">Get a Free Repair Quote!</a></li>
    </ul>
    </nav>
    </details>

    <!--desktop-->
    <nav class="sidebar">

    <ul class="active">
      <li><a  href="{{ url_for('home') }}">Home</a></li>
      <li><a  href="{{ url_for('gallery') }}">Photo Gallery (Coming Soon!)</a></li>
      <li><a href="{{ url_for('contact') }}">Contact</a></li>
      <li><a  target="_blank" rel="noopener noreferrer" href=https://ebay.us/m/TC9rpf>Find us on eBay!</a></li>
      <li><a  href="{{ url_for('eclecticAI') }}">EclecticAI</a></li>
        <li><a href="{{ url_for('about') }}">About Us!</a></li>
        <li><a href="{{ url_for('quote') }}">Get a Free Repair Quote!</a></li>
    </ul>

    </nav>
 <!-- Desktop Headers-->
<div class="desktop-version">
<h1 class="title">How to contact us!</h1><br>

<h2 class="title"><strong>...By Email</strong></h2><br>
<p>stevie@eclecticelectronics.com</p><br>
<h3 class="title">...Or by Phone! (Call or Text)</h3><br>
<p>(217) 246-9915</p><br>
    <h4 class="title">You can also find us on Github!</h4><br>
    <p><a target="_blank" rel="noopener noreferrer" href="https://www.github.com/stlynnxx/EclecticElectronics">www.github.com/stlynnxx/EclecticElectronics</a></p><br>

    <p>We are located out of Charleston, Illinois, but will travel to you!</p><br>
</div>
<!-- Mobile Headers -->
<div class="mobile-version">
<h1>How to contact us!</h1><br>

<h2><strong>...By Email</strong></h2><br>
<p>stevie@eclecticelectronics.com</p><br>
<h3>...Or by Phone! (Call or Text)</h3><br>
<p>(217) 246-9915</p><br>
    <h4>You can also find us on Github!</h4><br>
    <p><a target="_blank" rel="noopener noreferrer" href="https://www.github.com/stlynnxx">www.github.com/stlynnxx</a></p><br>

    <p>We are located out of Charleston, Illinois, but will travel to you!</p><br>
</div>


</body>
</html>