<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" charset="UTF-8">
    <title>Contact Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='contact.css') }}">
</head>
<body>
 <!--mobile nav-->
    <details class="mobile-nav">
        <summary>Navigation</summary>

    <nav class="mobile-menu">
    <ul>
      <li><a  href="{{ url_for('home') }}">Home</a></li>
      <li><a  href="{{ url_for('gallery') }}">Photo Gallery (Coming Soon!)</a></li>
      <li><a href="{{ url_for('contact') }}">Contact</a></li>
      <li><a  target="_blank" rel="noopener noreferrer" href=https://ebay.us/m/TC9rpf>Find us on eBay!</a></li>
      <li><a  href="{{ url_for('eclecticAI') }}">EclecticAI</a></li>
        <li><a href="{{ url_for('about') }}">About Us!</a></li>
        <li><a href="{{ url_for('quote') }}">Get a Free Repair Quote!</a></li>
    </ul>
    </nav>
    </details>

    <!--desktop-->
    <nav class="sidebar">

    <ul class="active">
      <li><a  href="{{ url_for('home') }}">Home</a></li>
      <li><a  href="{{ url_for('gallery') }}">Photo Gallery (Coming Soon!)</a></li>
      <li><a href="{{ url_for('contact') }}">Contact</a></li>
      <li><a  target="_blank" rel="noopener noreferrer" href=https://ebay.us/m/TC9rpf>Find us on eBay!</a></li>
      <li><a  href="{{ url_for('eclecticAI') }}">EclecticAI</a></li>
        <li><a href="{{ url_for('about') }}">About Us!</a></li>
        <li><a href="{{ url_for('quote') }}">Get a Free Repair Quote!</a></li>
    </ul>

    </nav>
<div class="div_one">
<h1 class="headers">How to contact us!</h1>

<h2 class="headers"><strong>...By Email</strong></h2>
<p class="content-block">stevie@eclecticelectronics.com</p>
<h3 class="headers">...Or by Phone! (Call or Text)</h3>
<p class="content-block">(217) 246-9915</p>
    <h4 class="headers">You can also find us on Github!</h4>
    <p class="content-block"><a target="_blank" rel="noopener noreferrer" href="https://www.github.com/stlynnxx">www.github.com/stlynnxx</a></p>

    <p>We are located out of Charleston, Illinois, but will travel to you!</p>
</div>


</body>
</html>