<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" charset="UTF-8">
    <title>Software</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='eclecticai.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='photos/favicon.ico') }}">
</head>
<body>
<div class="eAI-page-layout">

        <div class="eAI-body-row">
        <div class="mobile-nav-flex">
     <!--mobile nav-->
    <details class="mobile-nav">

            <summary class="summary">Navigation</summary>

    <nav class="mobile-menu">
    <ul>
        <div class="mobile-div-1">
      <li class="mobile-nav-item"><a  href="{{ url_for('home') }}">Home</a></li>
      <li class="mobile-nav-item"><a  href="{{ url_for('gallery') }}">Photo Gallery (Coming Soon!)</a></li>
      <li class="mobile-nav-item"><a href="{{ url_for('contact') }}">Contact</a></li>
      <li class="mobile-nav-item"><a  href="{{ url_for('software') }}">Software</a></li>
        <li class="mobile-nav-item"><a href="{{ url_for('about') }}">About Us!</a></li>
        <li class="mobile-nav-item"><a href="{{ url_for('quote') }}">Get a Free Repair Quote!</a></li>
            <li class="mobile-nav-item"><a href="{{ url_for('password') }}">Password Generator</a></li>
            <li class="mobile-nav-item"><a  target="_blank" rel="noopener noreferrer" href=https://ebay.us/m/TC9rpf>Find us on eBay!</a></li>
        </div>
    </ul>
    </nav>
    </details>
        </div>
    <div class="desktop-nav-flex">
    <!--desktop-->
    <nav class="sidebar">
        <div class="desktop-div-1">

    <ul class="active">
      <li class="nav-item"><a  href="{{ url_for('home') }}">Home!</a></li>
      <li class="nav-item"><a  href="{{ url_for('gallery') }}">Photo Gallery (Coming Soon!)</a></li>
      <li class="nav-item"><a href="{{ url_for('contact') }}">Contact</a></li>
      <li class="nav-item"><a  href="{{ url_for('software') }}">Software</a></li>
        <li class="nav-item"><a href="{{ url_for('about') }}">About Us!</a></li>
        <li class="nav-item"><a href="{{ url_for('quote') }}">Get a Free Repair Quote!</a></li>
        <li class="nav-item"><a href="{{ url_for('password') }}">Password Generator</a></li>
        <li class="nav-item"><a  target="_blank" rel="noopener noreferrer" href=https://ebay.us/m/TC9rpf>Find us on eBay!</a></li>
    </ul>
        </div>

    </nav>
    </div>
    </div>

<div class="desktop-nav-flex">

    <!--desktop-->
    <nav class="sidebar">
        <div>

    <ul class="active">
      <li class="nav-item"><a  href="{{ url_for('home') }}">Home</a></li>
      <li class="nav-item"><a  href="{{ url_for('gallery') }}">Photo Gallery (Coming Soon!)</a></li>
      <li class="nav-item"><a href="{{ url_for('contact') }}">Contact</a></li>
      <li class="nav-item"><a  href="{{ url_for('software') }}">Software</a></li>
        <li class="nav-item"><a href="{{ url_for('about') }}">About Us!</a></li>
        <li class="nav-item"><a href="{{ url_for('quote') }}">Get a Free Repair Quote!</a></li>
        <li class="nav-item"><a  target="_blank" rel="noopener noreferrer" href=https://ebay.us/m/TC9rpf>Find us on eBay!</a></li>
    </ul>
        </div>

    </nav>
</div>
</div>
<!--Content-->
<div class="eAI-content-flex-one">
    <div class="eAI-sub-flex-one">
        <h1 class="eAI-title">EclecticAI</h1></div>
    <div class="eAI-sub-flex-two">

    <div class="font-class">
    <p><strong><i>Rewriting the current tech narrative through superior design
        and open hearted machines.</i></strong></p>
    </div>


    </div>
    <div class="eAI-sub-flex-three">
        <div class="card">
            <p>EclecticAI is a novel cognitive framework structured
        around memory, association, and contextual reasoning rather than black
        box weights and statistics. Instead of treating data as static records,
        EclecticAI models information as evolving memories, each with
            relationships, decay, relevance, and time awareness.</p>




        </div>
    </div>
</div>


</body>
</html>