<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" charset="UTF-8">
    <title>Software</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='eclecticai.css') }}">
</head>
<body>
 <!--mobile nav-->
    <details class="mobile-nav">
        <summary class="summary">Navigation</summary>

    <nav class="mobile-menu">
        <div class="mobile-div-1">
    <ul>
      <li class="mobile-nav-item"><a  href="{{ url_for('home') }}">Home</a></li>
      <li class="mobile-nav-item"><a  href="{{ url_for('gallery') }}">Photo Gallery (Coming Soon!)</a></li>
      <li class="mobile-nav-item"><a href="{{ url_for('contact') }}">Contact</a></li>
      <li class="mobile-nav-item"><a  href="{{ url_for('eclecticAI') }}">Software</a></li>
        <li class="mobile-nav-item"><a href="{{ url_for('about') }}">About Us!</a></li>
        <li class="mobile-nav-item"><a href="{{ url_for('quote') }}">Get a Free Repair Quote!</a></li>
        <li class="mobile-nav-item"><a  target="_blank" rel="noopener noreferrer" href=https://ebay.us/m/TC9rpf>Find us on eBay!</a></li>
    </ul>
        </div>
    </nav>
    </details>

    <!--desktop-->
    <nav class="sidebar">
        <div>

    <ul class="active">
      <li class="nav-item"><a  href="{{ url_for('home') }}">Home</a></li>
      <li class="nav-item"><a  href="{{ url_for('gallery') }}">Photo Gallery (Coming Soon!)</a></li>
      <li class="nav-item"><a href="{{ url_for('contact') }}">Contact</a></li>
      <li class="nav-item"><a  href="{{ url_for('eclecticAI') }}">Software</a></li>
        <li class="nav-item"><a href="{{ url_for('about') }}">About Us!</a></li>
        <li class="nav-item"><a href="{{ url_for('quote') }}">Get a Free Repair Quote!</a></li>
        <li class="nav-item"><a  target="_blank" rel="noopener noreferrer" href=https://ebay.us/m/TC9rpf>Find us on eBay!</a></li>
    </ul>
        </div>

    </nav>
<h1>Software Development</h1>
<p>One of our biggest loves is software development. We currently have multiple larger
projects in the works, and will periodically be putting up for fun projects on this site,
such as our secure <a href="{{ url_for('password') }}">password generator</a>, and more that
you'll be seeing in the coming future!</p>
<p>This site itself is one of our bigger ongoing projects; everything is built by hand, by me alone, and I try to
push updates 6 days a week.</p>
<p>The website along with future projects can be found on our <a target="_blank" rel="noopener noreferrer" href="https://www.github.com/stlynnxx">Github</a>.</p>
</body>
</html>