<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eclectic AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='eclecticai.css') }}">
</head>
<body>
<!-- This is the navbar -->
    <ul>
      <li><a class="active" href="{{ url_for('home') }}">Home</a></li>
      <li><a class="active" href="{{ url_for('gallery') }}">Photo Gallery (Coming Soon!)</a></li>
      <li><a class="active" href="{{ url_for('contact') }}">Contact</a></li>
      <li><a class="active" target="_blank" rel="noopener noreferrer" href=https://ebay.us/m/TC9rpf>Find us on eBay!</a></li>
      <li><a class="active" href="{{ url_for('eclecticAI') }}">EclecticAI</a></li>
        <li><a class="active" href="{{ url_for('about') }}">About Us!</a></li>
        <li><a class="active" href="{{ url_for('quote') }}">Get a Free Repair Quote!</a></li>
    </ul>
<h1>Under Construction</h1>
</body>
</html>