<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" charset="UTF-8">
    <title>gallery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='gallery.css') }}">
</head>
<body>
 <!--mobile nav-->
    <details class="mobile-nav">
        <summary>Navigation</summary>

    <nav class="mobile-menu">
    <ul>
      <li><a  href="{{ url_for('home') }}">Home</a></li>
      <li><a  href="{{ url_for('gallery') }}">Photo Gallery (Coming Soon!)</a></li>
      <li><a href="{{ url_for('contact') }}">Contact</a></li>
      <li><a  target="_blank" rel="noopener noreferrer" href=https://ebay.us/m/TC9rpf>Find us on eBay!</a></li>
      <li><a  href="{{ url_for('eclecticAI') }}">EclecticAI</a></li>
        <li><a href="{{ url_for('about') }}">About Us!</a></li>
        <li><a href="{{ url_for('quote') }}">Get a Free Repair Quote!</a></li>
    </ul>
    </nav>
    </details>

    <!--desktop-->
    <nav class="sidebar">

    <ul class="active">
      <li><a  href="{{ url_for('home') }}">Home</a></li>
      <li><a  href="{{ url_for('gallery') }}">Photo Gallery (Coming Soon!)</a></li>
      <li><a href="{{ url_for('contact') }}">Contact</a></li>
      <li><a  target="_blank" rel="noopener noreferrer" href=https://ebay.us/m/TC9rpf>Find us on eBay!</a></li>
      <li><a  href="{{ url_for('eclecticAI') }}">EclecticAI</a></li>
        <li><a href="{{ url_for('about') }}">About Us!</a></li>
        <li><a href="{{ url_for('quote') }}">Get a Free Repair Quote!</a></li>
    </ul>

    </nav>

</body>
</html>