<!DOCTYPE html>
<html lang="en">
 <head>
     <meta name="viewport" content="width=device-width,initial-scale=1.0" charset="UTF-8">

     <title>Eclectic Electronics</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='main.css', v=1) }}">
     <link rel="icon" type="image/x-icon" href="static/favicon.ico">

 </head>

    <body>
     <!--mobile nav-->
    <details class="mobile-nav">

            <summary>Navigation</summary>

    <nav class="mobile-menu">
    <ul>
        <div class="mobile-div-1">
      <li class="mobile-nav-item"><a  href="{{ url_for('home') }}">Home</a></li>
      <li class="mobile-nav-item"><a  href="{{ url_for('gallery') }}">Photo Gallery (Coming Soon!)</a></li>
      <li class="mobile-nav-item"><a href="{{ url_for('contact') }}">Contact</a></li>
      <li class="mobile-nav-item"><a  target="_blank" rel="noopener noreferrer" href=https://ebay.us/m/TC9rpf>Find us on eBay!</a></li>
      <li class="mobile-nav-item"><a  href="{{ url_for('eclecticAI') }}">EclecticAI</a></li>
        <li class="mobile-nav-item"><a href="{{ url_for('about') }}">About Us!</a></li>
        <li class="mobile-nav-item"><a href="{{ url_for('quote') }}">Get a Free Repair Quote!</a></li>
            <li class="mobile-nav-item"><a href="{{ url_for('password') }}">Password Generator</a></li>
        </div>
    </ul>
    </nav>
    </details>

    <!--desktop-->
    <nav class="sidebar">

    <ul class="active">
      <li class="nav-item"><a  href="{{ url_for('home') }}">Home!</a></li>
      <li class="nav-item"><a  href="{{ url_for('gallery') }}">Photo Gallery (Coming Soon!)</a></li>
      <li class="nav-item"><a href="{{ url_for('contact') }}">Contact</a></li>
      <li class="nav-item"><a  target="_blank" rel="noopener noreferrer" href=https://ebay.us/m/TC9rpf>Find us on eBay!</a></li>
      <li class="nav-item"><a  href="{{ url_for('eclecticAI') }}">EclecticAI</a></li>
        <li class="nav-item"><a href="{{ url_for('about') }}">About Us!</a></li>
        <li class="nav-item"><a href="{{ url_for('quote') }}">Get a Free Repair Quote!</a></li>
        <li class="nav-item"><a href="{{ url_for('password') }}">Password Generator</a></li>
    </ul>

    </nav>


    <h1 class="title">Eclectic Electronics</h1>


    <p><i>All things hardware and software</i></p>

     <p><strong>Hello!</strong></p>
     <p>Head on over to the <a href="{{ url_for('about') }}">about</a> page to read about us!</p>
     <p>Head to the <a href="{{ url_for('quote') }}">quote</a> page to get a free repair estimate!</p>


    <h2>Want a discount code for our ebay store?</h2>


 <form>
   <button class="button" formaction="https://ebay.us/m/Pk8Xo1">Get your ebay discount!</button>
 </form>

     <div class="gbimage"><img src="{{ url_for('static', filename='photos/game.png') }}" alt="oops!" class="logo" width=100%></div>

    <!-- https://ebay.us/m/Pk8Xo1-->

    <!-- We'll add some sort of click to show or hover that gives a coupon code-->

 <div class="desktop-footer">
     <footer>
     <p class="toe">This website is completely open source and can be found at <a href="https://www.github.com/stlynnxx/EclecticElectronics">https://www.github.com/stlynnxx/EclecticElectronics</a></p>
     <p>This site logs zero user data in any manner.</p>

     </footer></div>
  <div class="mobile-footer">
     <footer>
     <p class="mobile-foot">This website is completely open source and can be found at <a href="https://www.github.com/stlynnxx/EclecticElectronics">https://www.github.com/stlynnxx/EclecticElectronics</a></p>
     <p>This site logs zero user data in any manner.</p>

     </footer></div>



    </body>
</html>