<!DOCTYPE html>
<html lang="en">
<head>
     <meta name="viewport" content="width=device-width,initial-scale=1.0" charset="UTF-8">

     <title>Eclectic Electronics Home Page</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='main.css', v=1) }}">
      <link rel="shortcut icon" href="{{ url_for('static', filename='photos/favicon.ico') }}">
    <title>Eclectic Electronics Home Page</title>
</head>
<body>
<div class="page-layout">
    <div class="body-row">
        <div class="mobile-nav-flex">
            <!--mobile nav-->
            <details class="mobile-nav">
                <summary class="summary">Navigation</summary>
                <nav class="mobile-menu">
                    <ul class="mobile-div-1">
                        <li class="mobile-nav-item"><a  href="{{ url_for('home') }}">Home</a></li>
                        <li class="mobile-nav-item"><a  href="{{ url_for('gallery') }}">Photo Gallery (Coming Soon!)</a></li>
                        <li class="mobile-nav-item"><a href="{{ url_for('contact') }}">Contact</a></li>
                        <li class="mobile-nav-item"><a  href="{{ url_for('software') }}">Software</a></li>
                        <li class="mobile-nav-item"><a href="{{ url_for('about') }}">About Us!</a></li>
                        <li class="mobile-nav-item"><a href="{{ url_for('quote') }}">Get a Free Repair Quote!</a></li>
                        <li class="mobile-nav-item"><a href="{{ url_for('password') }}">Password Generator</a></li>
                        <li class="mobile-nav-item"><a  target="_blank" rel="noopener noreferrer" href=https://ebay.us/m/TC9rpf>Find us on eBay!</a></li>
                    </ul>
                </nav>
            </details>
        </div>
    </div>
    <!--Desktop Navigation-->
    <div class="desktop-nav-flex">
        <nav class="sidebar">
            <div class="div-one">
                <ul class="active">
                    <li class="nav-item"><a  href="{{ url_for('home') }}">Home!</a></li>
                    <li class="nav-item"><a  href="{{ url_for('gallery') }}">Photo Gallery (Coming Soon!)</a></li>
                    <li class="nav-item"><a href="{{ url_for('contact') }}">Contact</a></li>
                    <li class="nav-item"><a  href="{{ url_for('software') }}">Software</a></li>
                    <li class="nav-item"><a href="{{ url_for('about') }}">About Us!</a></li>
                    <li class="nav-item"><a href="{{ url_for('quote') }}">Get a Free Repair Quote!</a></li>
                    <li class="nav-item"><a href="{{ url_for('password') }}">Password Generator</a></li>
                    <li class="nav-item"><a  target="_blank" rel="noopener noreferrer" href=https://ebay.us/m/TC9rpf>Find us on eBay!</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <!--Content-->
    <div class="content-flex-main">
        <div class="content-flex-one">
            <h1 class="title">Eclectic Electronics</h1>
            <p><i>IT, Software, and Electronics Repair/Customization Services</i></p><br>
             <div class="paragraph-flex">
                <div class="p">
                    <div class="home_ul">
                        <p>
                        Eclectic Electronics offers:
                            <ul>
                                <li>Professional IT Services backed by a CompTIA A+ Certification</li>
                                <li>Software/web Development Services</li>
                                <li>PC/Electronic Device Repair and Customizations</li>
                            </ul>
                        </p>
                    </div> <!-- Terminates home_ul-->
                </div> <!-- Terminates p-->
                 <br>
                 <div class="container">
                    <div class="container-item-img">
                        <p><a href="{{ url_for('review') }}">Click here to leave us a review!</a></p>
                            <div class="img-flex"><img src="{{ url_for('static', filename='photos/game.png') }}" class="gbimage" alt="oops!" width=100%></div>
                    </div> <!--Terminates container-item-img-->
                 </div> <!--Terminates container-->
            </div> <!-- terminates paragraph-flex-->
        </div> <!-- Terminates content-flex-one-->
    </div> <!-- Terminates content-flex-main-->
    <br>
    <p>You can go to the <a href="{{ url_for('about') }}">about</a> page to read more about us and our services.</p>
    <p>You can go to the <a href="{{ url_for('software') }}">Software</a> page and check out our various software projects!</p>
    <br>
    <div class="content-flex-two">
        <p class="p">
            There are also a few small programming projects built into the site for interaction:
            <ul>
                <li><a href="{{ url_for('generator') }}">Password Generator</a></li>
                <li><a href="{{ url_for('magicpython') }}">Magic Python,</a>inspired by the Magic 8 ball.</li>
                <li><a href="{{ url_for('positive') }}">Positive Message Generator</a></li>

            </ul>
        </p>
    </div> <!-- Terminates content-flex-two-->
    <!-- Footer-->

    <div class="footer-flex">
        <footer class="footer">
            <p>This website is completely open source and can be found at <a href="https://www.github.com/stlynnxx/EclecticElectronics">https://www.github.com/stlynnxx/EclecticElectronics</a></p>
            <p>This site logs zero user data in any manner.</p>
        </footer>
    </div> <!-- Terminates the Footer Flex-->
    <div class="mobile-foot">
        <footer class="footer-mobile">
            <p>This website is completely open source and can be found at <a href="https://www.github.com/stlynnxx/EclecticElectronics">https://www.github.com/stlynnxx/EclecticElectronics</a></p>
            <p>This site logs zero user data in any manner.</p>

        <!-- ebay discount-->
         <!--<h2>Want a discount code for our ebay store?</h2>
         <form>
            <button class="button" type="submit" formaction="https://ebay.us/m/Pk8Xo1">Click here for your ebay discount!</button>
        </form>
        <p>This discount code is good for 25% off any item in my store, and allows up to three uses per customer.</p>

        </div>-->



        </footer>
    </div> <!-- Terminates mobile-footer-->
</div> <!-- This terminates the page-layout div-->
</body>
</html>