<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="{{ url_for('static', filename='main.css', v=1) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='security.css', v=1) }}">
     <meta name="viewport" content="width=device-width,initial-scale=1.0" charset="UTF-8">
    <title>Security Services</title>
</head>

<body>
<div class="main-flex">


    <div class="sec-header">
        <h1 class="title">Security Services</h1>
    </div>
    <div class="sec-para-one">
    <p>We are proud to offer a free, open source SUID enumeration
    tool for security professions to use known as Slippery Penguin.
        Slippery Penguin is currently available <a href="https://github.com/stlynnxx/Slippery-Penguin/tree/dev">here</a>!
    </p>
    <p>Slippery Penguin is currently in a testing phase and we welcome your
    contributions! If you have any feature ideas or even just data from your own testing
    you'd be willing to share to make the tool more robust, please reach out
    or send over a pull request via Github.</p>
    </div>






</div>
</body>

</html>